---
import Layout from "../layouts/Layout.astro";
import Quote from "../components/Quote.astro";
import Experience from "../components/Experience.astro";
import BiographyPhoto from "../images/Biography-photo.jpg";
import IconAstro from "../images/tech-stack/astro-icon.svg";
import IconCss from "../images/tech-stack/css-3.svg";
import IconHtml from "../images/tech-stack/html-5.svg";
import IconJava from "../images/tech-stack/java.svg";
import IconJavaScript from "../images/tech-stack/javascript.svg";
import IconNodeJS from "../images/tech-stack/nodejs.svg";
import IconPHP from "../images/tech-stack/php.svg";
import IconTailwind from "../images/tech-stack/tailwindcss-icon.svg";
---

<Layout title="Biography">
    <main>
        <div class="flex flex-col gap-4">
            <!-- Link to Go Back -->
            <div class="flex gap-4">
                <h1 class="text-3xl">ARNAU RIOS BUIL</h1>
                <p class="self-end">
                    <a href="/" class="hover:text-text-hover hover:underline"
                        >INDEX</a
                    > / <span>BIOGRAPHY</span>
                </p>
            </div>
            <!-- Biography Content 1st Row -->
            <div class="grid lg:grid-cols-3 gap-4">
                <!-- Quotes -->
                <div class="lg:col-span-2 p-4 bg-card flex gap-4 rounded">
                    <div>
                        <img
                            class="h-[400px] object-cover rounded shadow-md"
                            src={BiographyPhoto.src}
                            alt="Portrait Photo"
                        />
                    </div>
                    <div class="grid lg:grid-cols-2 gap-4 w-full">
                        <Quote text="Coding dreams into existence on the canvas of the internet." />
                        <Quote text="Code is poetry written for machines." />
                        <Quote text="Turning ideas into reality through the language of the web." />
                        <Quote text="Pixels may be tiny, but the impact is mighty." />
                    </div>
                </div>
                <!-- Experience -->
                <div class="lg:col-span-1 p-4 bg-card rounded h-[440px] overflow-auto">
                    <h2>Laboral experience</h2>
                    <Experience />
                </div>
            </div>
            <!-- Biography Content 2nd Row -->
            <div class="grid lg:grid-cols-3 gap-4 mb-4">
                <!-- Tech Stack -->
                <div class="lg:col-span-1 p-4 bg-card rounded overflow-hidden h-[200px]">
                    <div class="slider gap-4 flex justify-around">
                        <div class="flex flex-col gap-10">
                            <img class="mt-10" src={IconJavaScript.src} alt=""/>
                            <img src={IconNodeJS.src} alt=""/>
                            <img src={IconPHP.src} alt=""/>
                            <img src={IconTailwind.src} alt=""/>
                        </div>
                        <div class="flex flex-col gap-10">
                            <img class="mt-10" src={IconAstro.src} alt=""/>
                            <img src={IconCss.src} alt=""/>
                            <img src={IconHtml.src} alt=""/>
                            <img src={IconJava.src} alt=""/>
                        </div>
                    </div>
                    <div class="slider gap-4 flex justify-around">
                        <div class="flex flex-col gap-10">
                            <img class="mt-10" src={IconJavaScript.src} alt=""/>
                            <img src={IconNodeJS.src} alt=""/>
                            <img src={IconPHP.src} alt=""/>
                            <img src={IconTailwind.src} alt=""/>
                        </div>
                        <div class="flex flex-col gap-10">
                            <img class="mt-10" src={IconAstro.src} alt=""/>
                            <img src={IconCss.src} alt=""/>
                            <img src={IconHtml.src} alt=""/>
                            <img src={IconJava.src} alt=""/>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-2 p-4 bg-card rounded">
                    <h2>Skills</h2>

                </div>
            </div>
        </div>
    </main>
</Layout>


<style>
    :root {
    }

    main {
        color: white;
        line-height: 1.6;
        height: 100%;
        padding: 1rem;
    }

    .slider {
        animation: marquee 5s linear infinite;
    }

    .slider > div > img {
        width: 60px;
        height: 60px;
    }

    @keyframes marquee {
        from {
            transform: translateY(0);
        } to {
            transform: translateY(-100%);
        }
    }
</style>

