---
import Layout from "../layouts/Layout.astro";
import SoftSkill from "../components/SoftSkill.astro";
import Experience from "../components/Experience.astro";
import IconAstro from "../images/tech-stack/astro-icon.svg";
import IconCss from "../images/tech-stack/css-3.svg";
import IconHtml from "../images/tech-stack/html-5.svg";
import IconJava from "../images/tech-stack/java.svg";
import IconJavaScript from "../images/tech-stack/javascript.svg";
import IconNodeJS from "../images/tech-stack/nodejs.svg";
import IconPHP from "../images/tech-stack/php.svg";
import IconTailwind from "../images/tech-stack/tailwindcss-icon.svg";
import ContactMe from "../components/ContactMe.astro";
---

<Layout title="Biography">
    <main>
        <div class="flex flex-col gap-4">
            <!-- Link to Go Back -->
            <div class="flex gap-4">
                <h1 class="text-3xl">ARNAU RIOS BUIL</h1>
                <p class="self-end">
                    <a href="/" class="hover:text-text-hover underline"
                        >INDEX</a
                    > / <span>BIOGRAPHY</span>
                </p>
            </div>
            <!-- Biography Content 1st Row -->
            <div class="grid sm:flex sm:flex-col md:flex-col xl:flex-row lg:grid-cols-3 gap-4">
                <!-- Quotes -->
                <div class="flex flex-col sm:flex-row md:col-span-2 p-4 bg-card gap-4 rounded">
                    <div>
                        <img
                            class="h-full object-cover rounded shadow-md"
                            src="Biography-photo.jpg"
                            alt="Portrait Photo"
                        />
                    </div>
                    <div class="grid lg:grid-cols-2 gap-4 w-full">
                        <SoftSkill text="Problem Solving" />
                        <SoftSkill text="Analytical Thinking" />
                        <SoftSkill text="Collaboration and Teamwork" />
                        <SoftSkill text="Clear Collaboration" />
                    </div>
                </div>
                <!-- Experience -->
                <div class="lg:col-span-1 p-4 bg-card rounded overflow-auto">
                    <h2 class="font-bold text-[24px]">Laboral experience</h2>
                    <Experience />
                </div>
            </div>
            <!-- Biography Content 2nd Row -->
            <div class="flex flex-col h-[500px] md:grid grid-cols-3 gap-4 md:h-48">
                <!-- Tech Stack -->
                <div class="col-span-1 p-4 bg-card rounded overflow-hidden">
                    <div class="slider gap-4 flex justify-around">
                        <div class="flex flex-col gap-10">
                            <img class="mt-10" src={IconJavaScript.src} alt=""/>
                            <img src={IconNodeJS.src} alt=""/>
                            <img src={IconPHP.src} alt=""/>
                            <img src={IconTailwind.src} alt=""/>
                        </div>
                        <div class="flex flex-col gap-10">
                            <img class="mt-10" src={IconAstro.src} alt=""/>
                            <img src={IconCss.src} alt=""/>
                            <img src={IconHtml.src} alt=""/>
                            <img src={IconJava.src} alt=""/>
                        </div>
                    </div>
                    <div class="slider gap-4 flex justify-around">
                        <div class="flex flex-col gap-10">
                            <img class="mt-10" src={IconJavaScript.src} alt=""/>
                            <img src={IconNodeJS.src} alt=""/>
                            <img src={IconPHP.src} alt=""/>
                            <img src={IconTailwind.src} alt=""/>
                        </div>
                        <div class="flex flex-col gap-10">
                            <img class="mt-10" src={IconAstro.src} alt=""/>
                            <img src={IconCss.src} alt=""/>
                            <img src={IconHtml.src} alt=""/>
                            <img src={IconJava.src} alt=""/>
                        </div>
                    </div>
                </div>
                <div class="col-span-2 p-4 bg-card rounded">
                    <h2 class="font-bold text-[24px]">Contact me</h2>
                    <ContactMe text="An opportunity? A piece of advice? Good things come to those who don't wait. Reach out to me below!"/>
                </div>
            </div>
        </div>
        <!-- Footer 3rd Row -->
        <div class="grid grid-cols-3 gap-4 p-4">
            <div class="col-span-3 flex justify-center items-center">
                <p>&copy; 2024. Handcrafted by Arnau</p>
            </div>
        </div>
    </main>
</Layout>


<style>
    :root {
    }

    main {
        color: white;
        line-height: 1.6;
        height: 100%;
        padding: 1rem;
    }

    .slider {
        animation: marquee 5s linear infinite;
    }

    .slider > div > img {
        width: 80px;
        height: 80px;
    }

    @keyframes marquee {
        from {
            transform: translateY(0);
        } to {
            transform: translateY(-100%);
        }
    }
</style>

